<h2><%= @greeting %> <%= @followee %></h2>

<p><%= @follower %> just started following you. You can check out your new fan's page <a href=<%=user_url(@id) 
%>>here</a> </p>. Happy collabing!

<p>The Collab Crew</p>