<div class="content">
	<div class="home-text">
		<h1><a class="title">Collab With Me</a></h1>
		<p>This site will be a social media website intended to link all types of musicians so they can make music together. Stay tuned for details!</p>
	</div>
</div>