<div class="content">
	<div class="logo">
		<%= image_tag "googleLogo.png"%>
	</div>
	<div class="search-box">
		<form action="#" method="POST">
			<ul>
				<li>
					<input type="text">
				</li>
				<li id="search-buttons">
					<input id="google" type="submit" value="Google Search">
					<span></span>
					<input id="lucky" type="submit" value="I'm Feeling Lucky">
				</li>
			</ul>
		</form>
	</div>
</div>