<div class="content">
	<div id="title">Collab With Me</div>
	<p id="description">A social media website intended to link all types of musicians so they can make music together. Start collabing today!</p>
 	<div id="logo">
 		<%= image_tag "musical_notes.jpeg"%>
 	</div>
 </div>