body{
	background-color: rgb(228,244,250);
	font-family: arial,sans-serif;
	font-size: 13px;
	line-height: 24px;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
	padding: 10px;
}

.nav{
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: rgb(102,153,204);
	margin-left: -8px;
	margin-top: -8px;
	padding: 7.5px;
	padding-top: 20px;
	padding-bottom: 14px;
	text-decoration: none;
	color: #404040;
	float: left;
}

.text-link a{
	text-decoration: none;
	color: #F0F8FF;
}

.text-link a:hover{
	text-decoration: underline;
}

.content{
	position: relative;
	width: 572px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	top: 20px;
}

.content a{
	text-decoration: none;
	color: #000;
	font-size: 20px;
}

#content {
	position: absolute;
	top: 100px;
}

