body{
	background-color: rgb(240,240,240);
	font-family: avenir next;
	font-size: 13px;
	line-height: 32px;
	overflow: hidden;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
	padding: 10px;
}

.nav{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 20px;
	background-color: rgb(10,15,10);
	margin-left: -8px;
	margin-top: -8px;
	padding: 7.5px;
	padding-top: 10px;
	padding-bottom: 14px;
	text-decoration: none;
	color: #404040;
	float: left;
}

.text-link a{
	text-decoration: none;
	color: rgb(200,200,200);
}

.left-side{
	margin-left: 0.5%;
}

.right-side{
	float: right;
	margin-right: 2%;
	margin-top: -10px;
}

.text-link a:hover{
	font-size: 17px;
	color: white;
}

.foot{
 	position: fixed;
 	width: 100%;
 	height: 41px;
 	bottom: 0px;
 	background-color: rgb(10,15,10);
 	margin-left: -8px;

 }
 
 .genres a{
 	text-decoration: none;
 	color: rgb(200,200,200);
 	padding: 20px;

 }
 
 .genres a:hover{
 	text-decoration: underline;
 	color: white;
 }
 
 #collab{
 	color: white;
 }

#content {
	position: relative;
	top: 45px;
	overflow: scroll;
	padding-bottom: 50px;
}

#title{
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	color: rgb(50,50,50);
	font-size: 100px;
}

#description{
	text-align: center;
	font-size: 20px;
}

#logo{
	text-align: center;
 	padding-top: 30px;
 	width: 60%;
 	height: 60%;
 }

.button input{
 	width: 71px;
 	height: 30px;
 	color: white;
 	font-family: arial,sans-serif;
 	font-weight: bold;
 	font-size: 13px;
 	background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
 	border: 1px;
 	border-color: #4285f4;
 	border-radius: 2px;
 }

.button2 input{
 	width: 100px;
 	height: 30px;
 	color: white;
 	font-family: arial,sans-serif;
 	font-weight: bold;
 	font-size: 13px;
 	background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
 	border: 1px;
 	border-color: #4285f4;
 	border-radius: 2px;
 	margin-top: 30px;
 }

.button3 input{
 	width: 71px;
 	height: 30px;
 	color: white;
 	font-family: arial,sans-serif;
 	font-weight: bold;
 	font-size: 13px;
 	background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
 	border: 1px;
 	border-color: #4285f4;
 	border-radius: 2px;
 	margin-top: 20px;
 	margin-bottom: 20px;
 }

.button4 input{
 	width: 150px;
 	height: 30px;
 	color: white;
 	font-family: arial,sans-serif;
 	font-weight: bold;
 	font-size: 13px;
 	background-color: rgb(200,0,0);
 	border: 10px;
 	border-color: black;
 	border-radius: 3px;
 	margin-top: 20px;
 	margin-bottom: 20px;
 }


.user-name {
	font-size: 24px;
	font-weight: bold;
	padding-left: 10px;
}

.hometown {
	color: rgb(80,80,80);
	font-size: 16px;
}

.music_style {
	color: rgb(80,80,80);
	font-size: 16px;
}

.songs {
	margin-left: auto;
	margin-right: auto;
	padding-left: 60px;
}

.song-title {
	font-size: 20px;
}

.song-user {
	color: rgb(100,100,100);
	font-size: 18px;
}


.users_list li{
	display: inline-block;
	padding-bottom: 30px;
}

.edit-destroy a{
	text-decoration: none;
	color: black;
}

.edit-destroy a:hover{
	color: rgb(0,0,200);
}

.field {
	font-size: 18px;
	padding-top: 15px;
}

.form {
	text-align: center;
	padding-top: 30px;
	padding-left: 30px;
}

.form1 {
	text-align: center;
	padding-left: 30px;
}

.file-field{
	padding-left: 80px;
	font-size: 18px;
	padding-top: 20px;
}