body{
	background-color: rgb(255,255,255);
	font-family: arial,sans-serif;
	font-size: 13px;
	line-height: 24px;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
}

.nav{
	position: fixed;
	width: 100%;
	height: 60px;
}

.nav-link{
	padding: 7.5px;
	padding-top: 10px;
	padding-bottom: 14px;
	text-decoration: none;
	color: #404040;
	float: right;
}

#sign-in input{
	width: 71px;
	height: 30px;
	color: white;
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
	background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
	border: 1px;
	border-color: #4285f4;
	border-radius: 2px;
	margin-top: -5px;
	margin-right: 31px;
}

#apps {
	width: 30px;
	height: 30px;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: -4px;
}

#text-link a:hover{
	text-decoration: underline;
}

.foot{
	position: fixed;
	width: 100%;
	height: 41px;
	bottom: 0px;
	background-color: rgb(242, 242, 242);
	border-top: 1px;
	border-color: rgb(228, 228, 228);
}

.foot-link{
	padding: 15.5px;
	padding-top: 9px;
	padding-bottom: 6px;
	text-decoration: none;
	color: #666;
	float: left;
}

#left-side{
	margin-left: 0.5%
}

#right-side{
	float: right;
	margin-right: 2%;
}

#left-side a:hover{
	text-decoration: underline;
}

#right-side a:hover{
	text-decoration: underline;
}

.content{
	position: relative;
	width: 572px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	top: 60px;
}

.content a{
	text-decoration: none;
	color: #000;
	font-size: 11px;
}

.logo{
	width: 269px;
	height: 95px;
	padding-top: 114px;
	padding-left: 152px;
}

.content input{
	font-size: 13px;
	width: 566px;
	height: 24px;
	margin-top: 23px; 
}

#google{
	width: 96px;
	height: 29px;
	margin-left: 175px;
	margin-right: 12px;
}

#lucky{
	width: 111px;
	height: 29px;
}

#search-buttons input{
	color: #222;
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border: 1px;
	border-style: solid;
	border-color: #dcdcdc;
	border-radius: 4px;
	margin-top: 16px;
	margin-bottom: 16px;
}


